@charset "utf-8";
$blue: #5EAFFF;
$family-primary: "Muli", "Roboto", "Helvetica", "Arial", sans-serif;
$hr-height: 1px;
$hr-margin: .5rem 0;
$hr-background-color: #dbdbdb;
$body-size: 14px;
$background: #F3F9FF;
$link: $blue;

@import "~react-bulma-components/src/index.sass";
@import "../../_variables.sass";
@import "../../../node_modules/bulma/bulma.sass";

html {
  background: $background;
}
.hero {
  &:not(.is-dark) {
    height: 210px;
  }
  height: 100vh;
  .image {
    display: inline-block;
    width: 40%;
    text-align: center;
    margin-top: -50px;
  }
  .title {
    margin-top: 250px;
  }
  .select {
    margin-top: 2rem;
  }
}

.header {
  position: relative;
.select {
  margin-top: -15px;
  display: inline-block !important;
  max-width: 280px;
  select {
    background-color: transparent !important;
    border-color: transparent !important;
    display: inline-block !important;
    color: $blue !important;
    width: auto;
    max-width: 300px;
  }
}
  .is-9 {
  .title {
    position: absolute;
    margin-top: 7rem;
  }
  }
  .is-3 {
    .image img {
        height: 200px;
    }
  }
}

.dashboard {
  .title,
  .subtitle {
    font-weight: 400;
  }
  .is-3 {
    padding: .75rem;
    margin-bottom: 1.5rem;
    .card:hover {
      background: $white-ter;
    }
  }
  .is-9 {
    .card {
      height: 100%;
    }
  }
  .chart {
    .echarts-for-react {
    min-height: 60vh;
    height: 60vh;
    max-height: 100%;
    }
      }
    .thumbnail {
      .echarts-for-react {
      height: 250px;
      min-height: 250px;
    }

      margin-top: -40px;
      margin-bottom: -35px;
      margin-right: -40px;
      margin-left: -40px;
    }

}

.columns.is-fullheight {
  min-height:calc(100vh - ( #{$navbar-height} + 2rem - .75rem)  );
  max-height: calc(100vh - ( #{$navbar-height} + 2rem - .75rem)  );
  height: calc(100vh - ( #{$navbar-height} + 2rem - .75rem)  );
  display: flex;
  flex-direction: row;
  flex: 1;
  align-content: stretch;
  .column {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.card {
  height: 300px;
}

.card-content {
  height: 100%;
}




.select:not(.is-multiple):not(.is-loading)::after {
  top: 100%;
}