@charset "utf-8";
$family-primary: "Muli", "Roboto", "Helvetica", "Arial", sans-serif;
$hr-height: 1px;
$hr-margin: .5rem 0;
$hr-background-color: #dbdbdb;
$body-size: 14px;
$background: #F3F9FF;

@import "~react-bulma-components/src/index.sass";
@import "../../_variables.sass";
@import "../../../node_modules/bulma/bulma.sass";

html {
  background: $background;
}
.hero {
  height: 50vh;
}
.columns.is-fullheight {
  min-height:calc(100vh - ( #{$navbar-height} + 2rem - .75rem)  );
  max-height: calc(100vh - ( #{$navbar-height} + 2rem - .75rem)  );
  height: calc(100vh - ( #{$navbar-height} + 2rem - .75rem)  );
  display: flex;
  flex-direction: row;
  flex: 1;
  align-content: stretch;
  .column {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
