@import "~bulma/sass/utilities/initial-variables.sass"

$blue: hsl(212, 100, 46)
$blue-muted: hsl(212, 100, 46)
$blue-active: hsl(212, 100, 58)
$darkblue: hsla(198, 100%, 16%, 1)
$darkblue-muted: hsla(198, 100%, 16%, .7)
$darkblue-active: hsla(198, 100%, 16%, .9)
$darkred: hsla(9, 79%, 36%, 1)
$primary: $darkblue
$primary-disabled: $darkblue-muted
$primary-active: $darkblue-active
$secondary: $darkred
$grey-light: hsl(0, 0%, 71%)
$grey: hsl(0, 0%, 48%)

$subtitle-color: $grey

$weight-normal: 400
$title-weight: $weight-medium

$navbar-box-shadow-size: 0 8px 6px -6px
$navbar-box-shadow-color: $grey-light
$navbar-height: 4.5rem

$button-padding-vertical: 0.375em

$footer-padding: 1rem 1rem .5rem
$footer-background-color: $white

$section-padding-small: 2rem 1.5rem

$card-header-shadow: none
$card-footer-border-top: none
$card-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1)

$menu-item-color: $white-ter
$menu-item-hover-color: $white
$menu-item-hover-background-color: lighten($darkblue, 5%)
$menu-item-active-background-color: lighten($darkblue, 10%)
$menu-label-color: $grey-lighter

@import "~bulma/sass/utilities/_all.sass"
